@import "tailwindcss";

@theme {
  --background-color-primary-blue: #0d324d;
}

html {
  box-sizing: border-box;
  color: #fafafa;
  scrollbar-width: none;
  background-color: #000a21;
}

canvas + div {
  scrollbar-width: none;
}

.message-box-right {
  border-bottom-right-radius: 0px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 0px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--background-color-primary-blue);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
}

.message-box-left {
  border-bottom-left-radius: 0px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -25px;
    bottom: 0px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--background-color-primary-blue);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}
